{% extends "base.html" %}
{% block title %}Избранные Авторы{% endblock %}
{% block header %}Избранные Авторы{% endblock %}

{% block content %}
  {% include 'includes/menu.html' with follow=True %}
  {% if not page.paginator.count %}
    <h2>Вы еще не на кого не подписаны</h2>
    <p>Чтобы подписаться перейдите в профайл избранного автора.</p>
  {% endif %}
  {% for post in page %}
    {% include 'posts/post_item.html' with post=post%}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}

  {% include "includes/paginator.html" with items=page paginator=paginator %}
{% endblock %}
