<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Технологии:
                <p class="h6">-Python 3.7</p>
                <p class="h6">-Django 2.2.19</p>
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                <p>
                  Начало разработки: 18-05-2021
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>Текст страницы "Технологии"</p>
          <p>
            - Это будет сайт, на котором можно создать свою страницу. Если на нее зайти, то можно посмотреть все записи автора.
          </p>
          <p>
            - Пользователи смогут заходить на чужие страницы, подписываться на авторов и комментировать их записи.
          </p>
          <p>
            - Автор может выбрать имя и уникальный адрес для своей страницы. Дизайн можно взять самый обычный, но красивый. Тексты без особой разметки.
          </p>
          <p>
            - Должно выглядеть нормально, поиграйте со шрифтами. Еще надо иметь возможность модерировать записи и блокировать пользователей, если начнут присылать спам.
            Записи можно отправить в сообщество и посмотреть там записи разных авторов.
          </p>
          <p>
            - Вы же программисты, сами понимаете, как лучше сделать.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
